<header id="header" class="transparent-header home full-header" data-sticky-class="not-dark">
	<div id="header-wrap" class="mm-slideout">
		<div class="container clearfix">
			<a id="mmenu-btn-home" href="#mobile-menu" class="hideDesktop"><i class="fa fa-navicon"></i></a>

			<div id="logo">
				<a href="/web/20161003221915/http://www.bahamasvisitorsguide.com/" class="standard-logo">
					<img src="/assets/img/template/bvg-logo.png" alt="Bahamas Visitor's Guide Logo">
				</a>
				<a href="/web/20161003221915/http://www.bahamasvisitorsguide.com/" class="retina-logo">
					<img src="/assets/img/template/bvg-logo.png" alt="Bahamas Visitor's Guide Logo">
				</a>
			</div>

			{% include primary-navigation.html %}

		</div>
	</div>
</header>